

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
  }

.contenedor{
    display:flex;
    flex-direction:row;   
    flex-wrap: wrap;
    flex-shrink: 2;
    justify-content: center;
    align-items: center;
}

.item{
    flex: 200px;
    margin: 10px;
    background-color: #2196f3;
    color: white;
    padding: 20px;

}

footer{
    background-color: beige;
    text-align: center;
}

header{
    background-color: aquamarine;
    text-align: center;
}